# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3

# Environment variables
.env
.secrets.toml

# Model files
*.pt
*.onnx
*.engine

# Streamlit secrets
.streamlit/secrets.toml

# IDE files
.vscode/
.idea/
*.log